.submit {
  background-color: black;
  border-radius: 5px;
  padding: 20px;
}

.portfolio-item {
  width: 500px !important;
}


@media(max-width:767px) {
  .portfolio-item {
    width: 100% !important;
  }

}

/* .portfolio-item img {
  height: 500px;
  object-fit: contain;
} */